
/* ContextMenu - main menu */

.jsoneditor-contextmenu {
  position: absolute;
  z-index: 99999;
}

.jsoneditor-contextmenu ul {
  position: relative;
  left: 0;
  top: 0;
  width: 180px;

  background: white;
  border: 1px solid #d3d3d3;
  box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.3);

  list-style: none;
  margin: 0;
  padding: 0;
}

.jsoneditor-contextmenu ul li button {
  padding: 0;
  margin: 0;
  width: 180px;
  border: none;
  cursor: pointer;
  color: #4d4d4d;
  background: transparent;
  display:block;
  float:left;
  line-height: 24px;
  text-align: left;
}

/* Fix button padding in firefox */
.jsoneditor-contextmenu ul li button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.jsoneditor-contextmenu ul li button:hover,
.jsoneditor-contextmenu ul li button:focus {
  color: #1a1a1a;
  background-color: #f5f5f5;
  outline: none;
}

.jsoneditor-contextmenu ul li button.default {
  width: 146px;
}

.jsoneditor-contextmenu ul li button.expand {
  float: right;
  width: 32px;
  height: 24px;
  border-left: 1px solid #e5e5e5;
}

.jsoneditor-contextmenu div.icon {
  float: left;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  margin: 0;
  background-image: url('img/jsoneditor-icons.png');
}

.jsoneditor-contextmenu ul li button div.expand {
  float: right;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0 4px 0 0;
  background: url('img/jsoneditor-icons.png') 0 -72px;
  opacity: 0.4;
}

.jsoneditor-contextmenu ul li button:hover div.expand,
.jsoneditor-contextmenu ul li button:focus div.expand,
.jsoneditor-contextmenu ul li.selected div.expand,
.jsoneditor-contextmenu ul li button.expand:hover div.expand,
.jsoneditor-contextmenu ul li button.expand:focus div.expand {
  opacity: 1;
}

.jsoneditor-contextmenu .separator {
  height: 0;
  border-top: 1px solid #e5e5e5;
  padding-top: 5px;
  margin-top: 5px;
}

.jsoneditor-contextmenu button.remove .button-contents > .icon {
  background-position: -24px -24px;
}
.jsoneditor-contextmenu button.remove:hover .button-contents > .icon,
.jsoneditor-contextmenu button.remove:focus .button-contents > .icon {
  background-position: -24px 0;
}

.jsoneditor-contextmenu button.append .button-contents > .icon {
  background-position: 0 -24px;
}
.jsoneditor-contextmenu button.append:hover .button-contents > .icon,
.jsoneditor-contextmenu button.append:focus .button-contents > .icon {
  background-position: 0 0;
}

.jsoneditor-contextmenu button.insert .button-contents > .icon {
  background-position: 0 -24px;
}
.jsoneditor-contextmenu button.insert:hover .button-contents > .icon,
.jsoneditor-contextmenu button.insert:focus .button-contents > .icon {
  background-position: 0 0;
}

.jsoneditor-contextmenu button.duplicate .button-contents > .icon {
  background-position: -48px -24px;
}
.jsoneditor-contextmenu button.duplicate:hover .button-contents > .icon,
.jsoneditor-contextmenu button.duplicate:focus .button-contents > .icon {
  background-position: -48px 0;
}

.jsoneditor-contextmenu button.sort-asc .button-contents > .icon {
  background-position: -168px -24px;
}
.jsoneditor-contextmenu button.sort-asc:hover .button-contents > .icon,
.jsoneditor-contextmenu button.sort-asc:focus .button-contents > .icon {
  background-position: -168px 0;
}

.jsoneditor-contextmenu button.sort-desc .button-contents > .icon {
  background-position: -192px -24px;
}
.jsoneditor-contextmenu button.sort-desc:hover .button-contents  > .icon,
.jsoneditor-contextmenu button.sort-desc:focus .button-contents  > .icon {
  background-position: -192px 0;
}

/* ContextMenu - sub menu */

.jsoneditor-contextmenu ul li .selected {
  background-color: #D5DDF6;
}

.jsoneditor-contextmenu ul li {
  overflow: hidden;
}

.jsoneditor-contextmenu ul li ul {
  display: none;
  position:relative;
  top: 0;
  box-sizing:padding-box;
  overflow-y:auto;
  max-height: 240px;
  border: none;
  box-shadow: inset 0 0 10px rgba(128, 128, 128, 0.5);

  /* TODO: transition is not supported on IE8-9 */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.jsoneditor-contextmenu ul li.selected ul {
}

.jsoneditor-contextmenu ul li ul li button {
  padding-left: 6px;
  padding-right: 16px;
}

.jsoneditor-contextmenu ul li ul li button:hover,
.jsoneditor-contextmenu ul li ul li button:focus {
  background-color: #f5f5f5;

}

.jsoneditor-contextmenu .button-contents {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
    float:left;
}

.jsoneditor-contextmenu button.type-string .button-contents > .icon {
  background-position: -144px -24px;
}
.jsoneditor-contextmenu button.type-string:hover .button-contents > .icon,
.jsoneditor-contextmenu button.type-string:focus .button-content > .icon,
.jsoneditor-contextmenu button.type-string.selected .button-contents > .icon{
  background-position: -144px 0;
}

.jsoneditor-contextmenu button.type-auto .button-contents  > .icon {
  background-position: -120px -24px;
}
.jsoneditor-contextmenu button.type-auto:hover .button-contents > .icon,
.jsoneditor-contextmenu button.type-auto:focus .button-contents > .icon,
.jsoneditor-contextmenu button.type-auto.selected .button-contents > .icon {
  background-position: -120px 0;
}

.jsoneditor-contextmenu button.type-object .button-contents > .icon {
  background-position: -72px -24px;
}
.jsoneditor-contextmenu button.type-object:hover .button-contents > .icon,
.jsoneditor-contextmenu button.type-object:focus .button-contents > .icon,
.jsoneditor-contextmenu button.type-object.selected .button-contents > .icon{
  background-position: -72px 0;
}

.jsoneditor-contextmenu button.type-array .button-contents > .icon {
  background-position: -96px -24px;
}
.jsoneditor-contextmenu button.type-array:hover .button-contents > .icon,
.jsoneditor-contextmenu button.type-array:focus .button-content > .icon,
.jsoneditor-contextmenu button.type-array.selected .button-contents > .icon{
  background-position: -96px 0;
}

.jsoneditor-contextmenu button.type-modes .button-contents > .icon {
  background-image: none;
  width: 6px;
}
